<%= render partial: 'shared/header', locals: { title: 'Dashboard', subtitle: '' } %>

<section class="section chart">
  <h1 class="title">
    Welcome
  </h1>
  <div class="block">
    See reports and all the data through the navbar.
  </div>
</section>
