# Ignore log files, temp files, and dependencies
/log/
/tmp/
.bundle/
/node_modules/
 
# Ignore deployment configs
.kamal/
 
# Ignore personal GitHub configs (if applicable)
.github/

.DS_Store

ignore/*
jon/*

storage/test.sqlite3
storage/development.sqlite3

/openshift/pipeline/secrets.yaml
