apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: finance

images:
- name: quay.io/jkeam/finance-web
  digest: sha256:3b4dc9530d1e3cad06ad9744efa512aa49d75f50e5ac1dcebbc5b8c393942674

configMapGenerator:
- name: finance-web-config
  literals:
  - RAILS_ENV=production
  - PORT=8080
  - SOLID_QUEUE_IN_PUMA=true
  - RAILS_LOG_LEVEL=info

secretGenerator:
- name: finance-web-secrets
  literals:
  - DB_USERNAME=postgres
  - DB_PASSWORD=adminpassword
  - SECRET_KEY_BASE=2cafcc9bcf39cda432c9a30cb12592282f9cc952feb67a31a1b4d52c336fa9834a2b3d9ed5f8c061768a61548bc726245cf8ea19c3260736a56c7c77f555095d
  - DB_NAME=finance_production
  - DB_HOST=db

resources:
  - app-migration.yaml
  - app-deployment.yaml
  - app-service.yaml
  - app-route.yaml
  - app-console-link.yaml
