<%= render partial: 'shared/header', locals: { title: 'New Budget', subtitle: '' } %>

<section class="section">
  <h1 class="title">
    New Budget
  </h1>
  <h2 class="subtitle">
  </h2>
  <%= render "form", budget: @budget %>
</section>

<div class="field is-grouped">
  <%= link_to "Listing", budgets_path %>
</div>
