<section class="" style="padding-top: 1rem;">
  <button class="button is-primary" id="togglefilterbutton">Toggle Filter</button>
</section>

<section class="section" id="contenttohide" style="display: none;">
  <h1 class="title">
    Filter
  </h1>
  <form method="GET">
    <div class="field">
      <label for="startdate" class="label">Start Date</label>
      <div class="control">
        <input class="input" type="date" name="startdate" value="<%= startdate.to_s %>">
      </div>
    </div>

    <div class="field">
      <label for="enddate" class="label">End Date</label>
      <div class="control">
        <input class="input" type="date" name="enddate" value="<%= enddate.to_s %>">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light" type="button" id="clearbutton">Clear</button>
      </div>
    </div>
  </form>
</section>
<script>
  document.getElementById('clearbutton').addEventListener('click', () => {
    try {
      document.getElementsByName('startdate')[0].value = '';
      document.getElementsByName('enddate')[0].value = '';
    } catch(e) {
      console.error(e);
    }
  });
  document.getElementById('togglefilterbutton').addEventListener('click', () => {
    try {
      const contentToToggle = document.getElementById('contenttohide');
      if (contentToToggle.style.display === 'none') {
        contentToToggle.style.display = 'block';
      } else {
        contentToToggle.style.display = 'none';
      }
    } catch (e) {
      console.error(e);
    }
  });
</script>
