<%= render partial: 'shared/header', locals: { title: 'Accounts', subtitle: 'All the accounts' } %>

<section class="section">
  <h1 class="title">
    Listing
  </h1>
  <h2 class="subtitle">
    All accounts
  </h2>

  <div>
    <%= render partial: 'accounts/listing', locals: { accounts: @accounts } %>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</section>

